img {
    image-rendering: crisp-edges;
    position: absolute;
    max-width: 196px;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    transform: translate(var(--x-position), var(--y-position)) scale(1.6);
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.sphealnone, .sphealsparkle {
    animation: spin linear 5s infinite, fadeIn ease 5s;
    -webkit-animation: spin linear 5s infinite, fadeIn ease 5s;
    -ms-animation: spin linear 5s infinite, fadeIn ease 5s;
    -o-animation: spin linear 5s infinite, fadeIn ease 5s;
    -moz-animation: spin linear 5s infinite, fadeIn ease 5s;
}

.wailordnone {
    image-rendering: crisp-edges;
    max-width: 500px;
    width: 500px;
    padding-left: 300px;
    padding-right: 300px;
}

.wailordsparkle {
    image-rendering: crisp-edges;
    max-width: 1000px;
    width: 1000px;
    padding-left: 500px;
    padding-right: 500px;
}

html {
    width: 100vw;
    height: 100vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@-moz-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@-webkit-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@-o-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@-ms-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
